body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.board{
    width: 500px;
    height: 500px;
    background-color: bisque;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}

.row{
    flex: 33%;
    display: flex;
    flex-direction: row;
}

.square {
    flex: 33%;
    height: 100%;
    border: 1px solid black;
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.square:active{
    background-color: white;
}